<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisher.fishspear.mapper.SysAdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fisher.fishspear.entity.SysAdmin">
        <id column="id" property="id"/>
        <result column="role_id" property="roleId"/>
        <result column="avatar" property="avatar"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="phone" property="phone"/>
        <result column="salt" property="salt"/>
        <result column="del" property="del"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id, avatar, username, password, phone, salt, del
    </sql>

    <select id="list" resultType="com.fisher.fishspear.entity.SysAdmin">
        select
            id,
            username,
            phone,
            role_id roleId,
            del,
            (select `name` from sys_role where id = a.role_id) as role
        from sys_admin a
        where a.username != 'admin'   <!-- 屏蔽超级管理员 -->
        <if test="username != null and username != ''">
            and a.username like concat('%',#{username},'%')
        </if>
    </select>

</mapper>
